@font-face {
  font-family: "Comic Neue Regular";
  src: url("../fonts/ComicNeue_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Comic Neue Bold";
  src: url("../fonts/ComicNeue_Bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top left, #fba157, #fbc562);
  font-family: "Comic Neue Regular", "Comic Sans MS", Avenir, Helvetica,
    sans-serif;
}

header {
  max-width: 1333px;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: "Comic Neue Bold", "Comic Sans MS", Avenir, Helvetica, sans-serif;
  perspective: -1500px;
}

menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 15px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: transform 200ms ease;
}

menu:hover {
  transform: rotateX(20deg);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

menu:hover #menu__line--top {
  animation: wiggle 200ms ease;
}

menu:hover #menu__line--middle {
  animation: wiggle 200ms ease 100ms;
}

menu:hover #menu__line--bottom {
  animation: wiggle 200ms ease 200ms;
}

@keyframes wiggle {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
}

.menu__line {
  height: 3px;
  width: 25px;
  border-radius: 10px;
  background: #222;
  margin: 3px 0;
}

#title {
  font-size: 48px;
  margin-left: 15px;
}

#title:hover {
  transform: rotateX(10deg);
}

#title__dad {
  color: white;
}

.joke-container {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  perspective: 1500px;
}

.card {
  height: 500px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 1.1;
  transition: all 250ms ease;
}

.card:hover{
  transform: rotateX(7deg);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.card__color {
  background-color: #fac562;
}

.card__white {
  background-color: white;
}

@media only screen and (max-width: 850px) {
  .card {
    height: 400px;
    width: 300px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    height: 250px;
    width: 90%;
    font-size: 25px;
    margin-bottom: 20px;
  }
}
